body{
  font-family: sans-serif;
  background-color: black;
  color: white;
  margin: auto;
  padding: 0;
  position: relative;
  max-width: 80%;

}

header{
  
}
/* HEADER */
#title{
  margin: 10px;
  padding: 20px;
  text-align: center;
  background-color: black;
  border: 2px solid cyan;
  border-radius: 15px;
}
/* END HEADER */
/* NAV */
ul{
  border-bottom: 2px solid cyan;
  border-radius: 5px;
  list-style: none;
  
}

li{
  display: inline;
  padding: 0px 10px;
  
}

a{
  display: inline-block;
  padding: 5px 15px;
  margin-bottom: 15px;
  text-decoration: none;
  background-color: none;
  border: 2px solid cyan;
  border-radius: 5px;
  color: white;
  text-transform: uppercase;
}

li:hover{
  position: relative;
  top: 1px;
}
a:active{
  background-color: cyan;
  color: black;
}
/* END NAV */