body{
  background-color: #222;
  color: #f2f5f8;
  margin: auto;
  position: relative;
  max-width: 800px;
}
#title{
  padding: 20px;
  margin: 10px;
  text-align: center;
  font-size: 1.4em;
  font-weight: 700;
  background-color: transparent;
  border: 3px solid #2ecc71;
  border-radius: 15px;
  
  /* CSS disable text selection */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

}
header{
  padding-top: 1px;
  border-bottom: solid 2px #f2f5f8;
}
.navbtn{  /* CONTAINER NAV BUTTON */
  display: flex;
  justify-content: center;

  /* CSS disable text selection */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.navbtns{ /* NAV BUTTONS */
  padding: 5px 15px;
  margin: 10px;
  cursor: pointer;
  text-transform: uppercase;
  color: #f2f5f8;
  text-decoration: none;
  font-size: 0.9em;
  font-weight: 700;
  border: solid 3px #2ecc71;
  border-radius: 5px;
  background-color: transparent;
}
.navbtns:hover{
  background-color: #2ecc71;
}
.navbtns:active{
  background-color: #1a7e43;
  border: solid 3px #1a7e43;
  position: relative;
  top: 2px;
} /* END NAV */

h3{
  margin-top: 10px;
}

p{
  margin-top: 10px;
}

a{
  color: rgb(36, 173, 253);
}

@media (max-width: 460px){
  .navbtn{
    justify-content: space-around;
  }
}