*{
  box-sizing: border-box;
}

html, body{
  margin: 0;
  background-color: #000;
  color: #fff;
  font: 20px sans-serif;
}

header{
  background-color: #14213d;
  color: #fff;
}

/* #title{
  display: inline;
  padding: 20px;
  border: 2px solid #fca311;
  align-items: center;
} */

ul > li{
  display: inline;
  padding: 10px 20px;
  background-color: #14213d;
  border: 2px solid #fca311;
  border-radius: 5px;
}

ul > li:hover{
  position: relative;
  top: 1px;
  transition: 0.3s;
  background-color: #fca311;
  cursor: pointer;
}

nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
}

