*{
  box-sizing: border-box;
}
html,body{
  margin: 0;
  padding: 0;
  background-color: #000;
  font: 18px sans-serif;
  color: #fff;
}
#header{
  display: flex;
  padding: 10px;
  justify-content: space-around;
  border: 2px solid cyan;
  border-radius: 15px;
  margin: 30px 30%;
}
ul > li{
  display: inline-flex;
  list-style-type : none;
}
nav{
  display: flex;
  justify-content: space-around;
}